@{
    ViewData["Title"] = "Home Page";
}
@model classwork.Models.login;

<div class="text-center">
    <h1 class="display-4 text-primary">Smart App</h1>
    <p>Hello, welcome to smart app</p>
    <hr />
</div>
<div class="text-center">
    <input class="mt-3" type="button" style="width:100px" value="Login" onclick="window.location='@Url.Action("login", "Home")'"/>
    
    
</div>





